services:
    - type: web
      plan: free
      name: mysite
      runtime: python
      buildCommand: "./build.sh"
      startCommand: "python -m gunicorn book_store.asgi:application -k uvicorn.workers.UvicornWorker"
